@model IEnumerable<ConsumeEmployeeApi.Models.Emp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>

    <span><h1>@ViewBag.message</h1></span>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id=item.Empid }) |
                @Html.ActionLink("Details", "Details", new {  Id=item.Empid }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.Empid })
            </td>
        </tr>
}
    </tbody>
</table>
